aiohttp[speedups]
aiofiles
aria2p
aiofile
asyncurban
async_generator
bitlyshortener
beautifulsoup4
base
cffi
covid
coffeehouse
colour
cowpy
cryptg
csvfaker
deezloader
dnspython
emoji
fontTools
gitpython
git+https://github.com/1danish-00/carbon-now-sh-api-wrapper.git
git+https://github.com/ahupp/python-magic
git+https://github.com/johnwmillr/LyricsGenius.git
git+https://github.com/voins/google-images-download.git@2cd68173c961324a2c41c61e8b6f40a49663ce60
geopy
glitch_this
google-api-python-client
google-auth-httplib2
google_trans_new
googletrans==4.0.0rc1
google-auth-oauthlib
google_images_download
gtts
gtts-token
heroku3
httplib2
humanize
html_telegraph_poster
hachoir
jikanpy
justwatch
jotquote
lxml
lottie
lyrics_extractor
lyricsgenius
markdown
moviepy
opencv-python
oauth2client
patool
pendulum
pillow
psutil
psycopg2-binary
pybase64
pylast
pydub
pySmartDL
python-barcode
python-dotenv
pytz
pyaztro
pytube
pymongo[srv]
python-dateutil
py-tgcalls
pyfiglet
PyGithub
pip
PyPDF2
PyDrive2
pyDownload
qrcode
requests
redis
regex
REPO_LINK
search-engine-parser
speedtest-cli
sqlalchemy==1.3.23
scikit-image
scipy
setuptools
selenium
telethon-session-sqlalchemy
twitter_scraper
telegraph
telethon
telethon-tgcrypto
urbandict
vcsi
validators
wheel
wget
wikipedia
wand
wordcloud
youtube-search-python==1.4.9
youtube-dl
youtube_dl
youtube_search
zipfile38
